<h1 class="title">Todo App</h1>
<form (ngSubmit)="addTodo()">
  <label>Todo</label>
  <input type="text" name="todo" id="todo" [(ngModel)]="todo" />
  <button>add todo</button>
</form>

<ul>
  <li *ngFor="let todo of todos; let i = index">
    <input type="checkbox" [checked]="todo.completed" (change)="markTodoAsComplete(todo, i)" />
    <span [class.completed]="todo.completed" style="width: 100%;">{{ todo.text }}</span>
    <button class="remove-todo-btn" (click)="removeTodo(todo)">remove todo</button>
  </li>
</ul>